body {background-color: orange;}

head {background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Times New Roman', Times, serif;
    color: black;}

h1 {font-size:xx-large;}
h3 {font-size:larger;}
p {font-size: medium;}

main {background-color:white;
    border-radius: 10px;}
aside {background-color: white;  
    border-radius: 10px;}
footer {background-color: rgb(230, 71, 8);
    border-radius: 10px;}

nav li{border: 2px; accent-color: rgb(0, 255, 13);
    background-color: rgb(0, 255, 13);
    list-style-type: none;}

nav li a{color: white;
    text-align: center;
    text-decoration: none;}

nav li:hover{background-color:red}

.active{background-color: rgb(250, 80, 1);}


table{font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;}

table td, table th{border:2px solid #F0F0F0}

table th{padding: 10px;
    text-align: left;}

table tr:nth-child(even){background-color: #F2F2F2}

table tr:hover{background-color: red;}

table th{color:white;
background-color: orange;}