body {background-color: orange;}

header {background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Times New Roman', Times, serif;
    color: white;}

h1{font-size: large;}
h3{font-size:larger;}
p{font-size: medium;}

main{background-color: white;
    border-radius: 10px;}
aside{background-color: white;
    border-radius: 10px;}
footer{background-color: orangered;
    border-radius: 10px;}