/* Setting the background color of the body */
body {
    background-color: darkgray;
}

/* Styling the header */
header {
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

/* Styling headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
}

/* Styling specific headings */
h1 {
    font-size: 40pt;
}

h3 {
    font-size: 15pt;
}

/* Styling paragraphs */
p {
    font-size: 10pt;
}

/* Styling the main section */
main {
    background-color: lightgray;
    border-radius: 10px;
}

/* Styling the aside section */
aside {
    background-color: lightgray;
    border-radius: 10px;
}

/* Styling the footer */
footer {
    background-color: lightgray;
    border-radius: 10px;
    display: block; /* Ensuring the footer is displayed as a block element */
}

/* Styling the form */
form {
    border: 2px solid black;
    padding: 20px;
}

/* Styling the navigation */
nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li {
    border: 2px solid white;
    background-color: darkgray;
    list-style-type: none;
    float: left;
    width: 14%;
    padding: 16px;
}

nav li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

/* Styling navigation when hovering */
nav li:hover {
    background-color: rgb(85, 85, 85);
}

/* Styling the active navigation item */
.active {
    background-color: rgb(148, 148, 148);
}

/* Styling tables */
table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
}

table th {
    text-align: center;
    width: 250px;
    text-size-adjust: 10px; 
    padding: 10px;
}

table td, table th {
    border: 2px solid #F0F0F0;
}

/* Styling even rows in tables */
table tr:nth-child(even) {
    background-color: #F2F2F2; 
}

/* Styling table rows on hover */
table tr:hover {
    background-color: darkgray;
}

/* Styling table header cells */
table th {
    background-color: lightgray;
    color: black;
}

/* Styling the head and body */
head, body {
    padding: 10px;
}

/* Styling the logo */
#logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

/* Styling the title */
#title {
    display: inline;
}

/* Clearing floats */
#row #Irow {
    content: "";
    display: table;
    clear: both;
}

/* Styling columns */
#row {
    width: 100%;
}

#Irow {
    width: 70%;
}

#left-col {
    width: 45%;
    float: left;
}

#Ileft-col {
    width: 20%;
    float: left;
}

#right-col {
    float: right;
    width: 45%;
}

#Iright-col, #Iright-col2 {
    float: right;
    margin-left: 10px;
}

#Iright-col {
    width: 30%;
}

#Iright-col2 {
    width: 50%;
}

/* Styling carousel indicators */
.carousel-indicators li {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    border-radius: 0;
    background-color: #ccc;
    border: none;
}

/* Styling active carousel indicator */
.carousel-indicators .active {
    background-color: #ffffff;
}

/* Styling gallery images */
.gallery-img {
    width: 350px; 
}

/* Styling image gallery */
#img-gallery {
    padding-top: 10px;
}

#img-gallery, .row {
    margin-bottom: 10px;
}



/* Styling spans */
span {
    color: Black;
}

/* Styling login section */
#login {
    border-radius: 10px;
    padding: 10px;
}
